/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  /* background-color: var(--background-color); */
  color: var(--text-color);
  /* бекграунд состоит из 3х элементов, они перечисляются через ",". 
  repeating-linear-gradient повторяет градиент бесконечно, пока не заполнит элемент.
  его параметры: 90deg - дегри - это градусы угла, при 90 градусах полоски получатся вертикальными.
  Дальше через запятую указываются пары  #000 0пикс (цвет-положение). Если цифры положения у соседжних 
  пар с разными цветами совпадают, то плавного перехода цвета не будет, а будут четкие полоски */
   background: var(--background-image), 
              repeating-linear-gradient(90deg,  var(--gradient-lines-color) 0, var(--gradient-lines-color) 2px, transparent 2px, transparent 4px),
              linear-gradient(180deg, var(--gradient-color-start) 0%, var(--gradient-color-end) 100%);
  background-size: auto, cover;
  background-attachment: fixed;
}
